body {
    background-color: #000000;
    background-image: url(Img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
    font-family: 'Cartos';
    height: 100vh;
}

/*=======================MODAL=======================*/

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(14, 14, 14);
    box-shadow: 0px 0px 30px -12px #310000;
    border-radius: 10px;
    width: 80%;
}

.modal > h1 {
    font-family: 'Cartos';
    margin: none;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

.modalDown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.restart {
    margin-top: 20px;
    font-family: 'Cartos';
    border-radius: 5px;
    font-size: large;
    background-color: #550e1b;
    color: white;
    font-size: large;
    border-color: #270209;
    padding: 10px 30px;
    box-shadow: 0px 0px 20px #000000;
}

#patos {
    justify-content: center;
    align-items: center;
    margin: none;
    border-radius: 10px;
    width: 100%;
    margin: none;
}

.changeTeams {
    margin-top: 20px;
    font-family: 'Cartos';
    border-radius: 5px;
    font-size: large;
    background-color: #550e1b;
    color: white;
    font-size: large;
    border-color: #270209;
    padding: 10px 30px;
    box-shadow: 0px 0px 20px #000000;
}

/*=======================BACK=======================*/

.back {
    position:absolute;
    margin: 10px;
}

.back > button {
    background-color: #550e1b;
    color: white;
    border-color: #270209;
    border-radius: 10px;
    padding: 5px 20px;
    font-family: 'Cartos';
}

/*=======================MAIN=======================*/

.main {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*=======================UP=======================*/

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.title {
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

/*=======================MID=======================*/

.mid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

/*======F======*/

.F {
    font-family: 'Cartos';
    border: none;
    background-color: #00000000;
    margin: 10px;
    color: #ffffff48;
    font-size: 120px;
    transition: 0.5s;
}

.F:hover {
    text-shadow: 0px 0px 10px #ffffff;
    color: white;
}

.F:active {
    color: #550e1b;
}

/*======D======*/

.D {
    font-family: 'Cartos';
    border: none;
    background-color: #00000000;
    margin: 10px;
    color: #ffffff48;
    font-size: 120px;
    transition: 0.5s;
}

.D:hover {
    text-shadow: 0px 0px 10px white;
    color: white;
}

.D:active {
    color: #550e1b;
}

/*======P======*/

.P {
    font-family: 'Cartos';
    border: none;
    background-color: #00000000;
    margin: 10px;
    color: #ffffff48;
    font-size: 120px;
    transition: 0.5s;
}

.P:hover {
    text-shadow: 0px 0px 10px white;
    color: white;
}

.P:active {
    color: #550e1b;
}

/*=======================DOWN=======================*/

.down {
    display: flex;
    align-items: top;
    justify-content: center;
    height: 20vh;
}

.faco {
    text-shadow: 2px 2px 4px rgba(160, 160, 160, 0.5);
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faco > h2 {
    text-align: center;
    color: white;
}

.faco > h1 {
    text-align: center;
    color: white;
}

.fiz {
    text-shadow: 2px 2px 4px rgba(160, 160, 160, 0.5);
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fiz > h2 {
    text-align: center;
    color: white;
}

.fiz > h1 {
    text-align: center;
    color: white;
}

.buttonDown {
    margin: 10px;
    font-family: 'Cartos';
    border-radius: 7px;
    font-size: large;
    background-color: #550e1b;
    color: white;
    border-color: #270209;
    padding: 10px 50px;
    box-shadow: 0px 0px 20px #000000;
}

/*=======================FONTES=======================*/

@font-face{
    font-family: 'Cartos';
    src: url(Cartos.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}